* {
  margin-top: 20px;
  padding: 0;
}

section {
  width: 1440px;
  border: 1px black solid;
}

section .feedback {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .feedback .feedback-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .feedback .feedback-item .feedback-item-type {
  width: 255px;
  height: 137px;
  border: 1px black solid;
}

section .feedback .feedback-item .feedback-item-design {
  width: 255px;
  height: 166px;
  border: 1px black solid;
}

section .feedback .feedback-item .feedback-item-info {
  width: 255px;
  height: 178px;
  border: 1px black solid;
}

section .feedback .feedback-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .feedback .feedback-element .feedback-element-head {
  width: 825px;
  height: 72px;
  border: 1px black solid;
}

section .feedback .feedback-element .feedback-element-tag {
  width: 825px;
  height: 151px;
  border: 1px black solid;
}

section .feedback .feedback-element .feedback-element-dark {
  width: 825px;
  height: 151px;
  border: 1px black solid;
}

section .feedback .feedback-element .feedback-element-qa {
  width: 825px;
  height: 151px;
  border: 1px black solid;
}

section .feedback .feedback-element .feedback-element-image {
  width: 825px;
  height: 151px;
  border: 1px black solid;
}

section .feedback .feedback-element .feedback-element-ability {
  width: 825px;
  height: 151px;
  border: 1px black solid;
}

section .feedback .feedback-element .feedback-element-preview {
  width: 825px;
  height: 151px;
  border: 1px black solid;
}
