// color
$orange:#FFA500;
$white: #ffffff;
$grey: rgb(78, 78, 78);
$balck: black;
$lightBlack:#333;
// font-text
$droidTxt: 'Droid Sans',sans-serif;
$muliTxt: 'Muli' ,sans-serif;
$centerTxt: center;
// size
$sizex: 10px;
$size2x: 20px;
$size3x: 30px;
$size5x: 50px;
.demo-head {
    background-color: #E12573;
    color: $white;
    font-size: large;
    padding: 10px;
    font-family: $droidTxt;
    font-weight: 700;
    text-align: $centerTxt;
}
.demo-text-head{
    margin-top:$size5x;
    text-align: $centerTxt;
    font-family: $droidTxt;
}
.demo-text-info{
    margin-top: $sizex;
    text-align: $centerTxt;
    font-family: $droidTxt;
    font-size: $sizex;
    color: $lightBlack;
}
.menu{
    display: flex;
    justify-content: space-around;
    margin-top: $size5x;
    font-family: $droidTxt;
        .menu-item{
        width: 350px;
        height: 200px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: 0.4s;
        box-shadow:inset 0 0 0 0 #E12573;
        .menu-item-up{
            display: flex;
            align-items: center;
            justify-content:space-around ;
            span{
                color: gray;
            }
            .menu-item-up-icon{
                margin-right: 30px; 
                color: #E12573;               
            }
        }
        .menu-item-btn{
            margin-right: 200px;
            margin-top: 20px;
            text-decoration: none;
            padding: 15px ;        
            border-radius: 30px;
            text-align: center;
            color: white;
            background-color: #E12573;
        }
    }
}
.menu-item:hover{
    box-shadow:inset -380px 0 0 0 #E12573;
    .menu-item-up{
        h1{
            color: white;
        }
                span{
            color: white;
        }
        .menu-item-up-icon{
                        color: white;               
        }
    }
    .menu-item-btn{
               background-color: #fa0068;
    }
}