/* single ve rounded sectionlarinin buttonlarının css kodları */
.primary {

    background-color: #5E2572;
}

.primary:hover {
    background-color: #451458;
}

.secondary {
    background-color: #D9DBDC;
}

.secondary:hover {
    background-color: #9da1a3;
}

.succes {
    background-color: #00C689;
}

.succes:hover {
    background-color: #009468;
}

.danger {
    background-color: #FC7242;
}

.danger:hover {
    background-color: #ff4000;
}

.warning {
    background-color: #FFC100;
}

.warning:hover {
    background-color: #977100;
}

.info {
    background-color: #4D13D1;

}

.info:hover {
    background-color: #2a008b;
}

.light {
    background-color: #F8F9FA;
}

.light:hover {
    background-color: #b1b1b1;
}

.dark {
    background-color: #4F4A60;

}

.dark:hover {
    background-color: #383542;
}



.link:hover span {
    border-bottom: 1px solid blue;
}

/* outlined */
.outlined .primary {
    border: 1px solid #5E2572;
    color: #5E2572;
}

.outlined .primary:hover {
    border: 1px solid #5E2572;
    color: white;
    background-color: #5E2572;
}

.outlined .secondary {
    background-color: white;
    border: 1px solid #D9DBDC;
    color: #D9DBDC;
}

.outlined .secondary:hover {
    background-color: #D9DBDC;
    color: black;
}

.outlined .succes {
    background-color: white;
    border: 1px solid #00C689;
    color: #00C689;
}

.outlined .succes:hover {
    background-color: #00C689;
    color: white;
}

.outlined .danger {
    background-color: white;
    border: 1px solid #FC7242;
    color: #FC7242;
}

.outlined .danger:hover {
    background-color: #FC7242;
    color: white;
}

.outlined .warning {
    background-color: white;
    border: 1px solid #FFC100;
    color: #FFC100;
}

.outlined .warning:hover {
    background-color: #FFC100;
    color: black;
}

.outlined .info {
    background-color: white;
    border: 1px solid #4D13D1;
    color: #4D13D1;
}

.outlined .info:hover {
    background-color: #4D13D1;
    color: white;
}

.outlined .light {
    background-color: white;
    border: 1px solid #F8F9FA;
    color: #F8F9FA;
}

.outlined .light:hover {
    background-color: #F8F9FA;
    color: black;
}

.outlined .dark {
    background-color: white;
    border: 1px solid #4F4A60;
    color: #4F4A60;
}

.outlined .dark:hover {
    background-color: #4F4A60;
    color: white;
}

/* inverse */
.inverse .primary {
    background-color: #DFD3E3;
    color: #5E2572;
}

.inverse .primary:hover {
    color: white;
    background-color: #5E2572;
}

.inverse .secondary {
    background-color: #F8F8F8;
    color: #D9DBDC;
}

.inverse .secondary:hover {
    background-color: #D9DBDC;
    color: white;
}

.inverse .succes {
    background-color: #CCF4E7;
    color: #00C689;
}

.inverse .succes:hover {
    background-color: #00C689;
    color: white;
}

.inverse .danger {
    background-color: #FFE3D9;
    color: #FC7242;
}

.inverse .danger:hover {
    background-color: #FC7242;
    color: #FFE3D9;
}

.inverse .warning {
    background-color: #FFF3CC;
    color: #FFC100;
}

.inverse .warning:hover {
    background-color: #FFC100;
    color: white;
}

.inverse .info {
    background-color: #DBCFF6;
    color: #4D13D1;
}

.inverse .info:hover {
    background-color: #4D13D1;
    color: white;
}

.inverse .light {
    background-color: white;
    color: black;
}

.inverse .light:hover {
    background-color: #d4d5d6;
    color: white;
}

.inverse .dark {
    background-color: #DCDBDF;
    color: #4F4A60;
}

.inverse .dark:hover {
    background-color: #4F4A60;
    color: white;
}

/* Icon Buttons Kvadrat */

.icon__daire__ev {
    background-color: var(--benovse);
}

.icon__daire__ev:hover {
    background-color: var(--benovsea);
}

.icon__daire__internet {
    background-color: var(--boz);
}

.icon__daire__internet:hover {
    background-color: var(--boza);
}

.icon__daire__mail {
    background-color: var(--kok);
}

.icon__daire__mail:hover {
    background-color: var(--koka);
}

.icon__daire__ulduz {
    background-color: var(--goy);
}

.icon__daire__ulduz:hover {
    background-color: var(--goya);
}

.icon__daire__mekan {
    background-color: var(--yasil);
}

.icon__daire__mekan:hover {
    background-color: var(--yasila);
}

/* Icon button kvadrat */
.icon__kvadrat {
    margin-top: 20px;

}

.icon__kvadrat__ev {

    background-color: var(--benovsea);
}


.icon__kvadrat__ev:hover {
    background-color: var(--benovse);
    color: white;

}

/* button groups */
.qrup {
    display: flex;
    justify-content: flex-start;
}

.qrup div {
    border: 1px solid var(--boz);
    color: var(--boz);
    padding: 10px 30px;
    text-align: center;
}

.qrup__1:hover {
    background-color: var(--boz);
    color: black;
}

.qrup__2:hover {
    background-color: var(--boz);
    color: black;
}

.qrup__3:hover {
    background-color: var(--boz);
    color: black;
}

.textandicon {
    border-radius: 5px;
    width: 60px;
    height: 50;
    padding: 10px;
    background-color: var(--goy);
    color: white;
    text-align: center;
}

.textandicon:hover {
    border: 1px solid var(--goy);
    border-radius: 5px;
    width: 60px;
    height: 50;
    padding: 10px;
    background-color: var(--ag);
    color: var(--goy);
    text-align: center;
}