body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.card {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.box02 {
  background-color: darkgray;
}

.box {
  background-color: rgb(29, 173, 106);
}
