.demo-head {
    background-color: var(--orange);
    color: var(--white);
    font-size: large;
}

.demo-btn {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.ab {
    text-align: center;
}