* {
  margin: 0;
  padding: 0;
}

.demo-head {
  background-color: #816EE7;
  color: #ffffff;
  font-size: large;
  padding: 10px;
  font-family: "Droid Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}

.demo-text-head {
  margin-top: 50px;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
}

.demo-text-info {
  margin-top: 10px;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
  font-size: 10px;
  color: #4e4e4e;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Droid Sans", sans-serif;
  margin-top: 50px;
  color: white;
}

.menu-item {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #816EE7;
  text-align: center;
  width: 290px;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-item .menu-item-ibox {
  background-color: #ffffff;
  text-align: center;
  padding: 30px;
  width: 78%;
  margin: 10px 0px;
}

.menu-item .menu-item-ibox-icon {
  color: #533DCD;
}

.menu-item span {
  font-size: 13px;
}

.menu-item .menu-item-btn {
  text-decoration: none;
  color: white;
  padding: 15px 35px;
  background-color: #533DCD;
  margin-top: 30px;
  border-radius: 50px;
}

.menu-item:hover {
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
}

.menu-item-btn:hover {
  background-color: #221470;
}
