$size:10px;
$Size1:20px;
$Size2:24px;

$circleRightSize:16px;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border-radius: $size;
}
@mixin columnJustifyBetween {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    }
@mixin columnJustifyBetweenAlignStart {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    }
@mixin rowAlignCenter {
display:flex;
flex-direction: row;
align-items: center;
    }
@mixin flexJustifyBetweenAlignCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
//////////////////////////////
@mixin column {
display:flex;
flex-direction: column;
    }
@mixin row {
display:flex;
flex-direction: row;
    }
@mixin between {
    display: flex;
    justify-content: space-between;
    }
@mixin marginLeftx {
    margin-left: 165px;
    }