@import "buttons";
@import "colors";
@import "commons";
@import "components";
@import "forms";
@import "general";
@import "interactive";
@import "typography";
@import "variables";
.page{
    @include sizePage;
.feedback{
    @include between;
        .feedback-item{
            @include   column;
                .feedback-item-type{
                    @include sizeType;
                    .feedback-item-type-head{
                        @include jostH2;
                    }
                    .feedback-item-type-text{
                        @include jostBody2;
                    }
                }
                .feedback-item-design{
                    @include sizeDesign;
                    a{
                        @include intDesign;
                        @include jostBody3;
                    }
                }
                .feedback-item-info{
                    @include sizeInfo;
                    @include column;
                    .feedback-item-info-head{
                        @include between;
                        >h3{@include jostH3}
                        >p{@include jostBody3}
                        }
                    .feedback-item-info-item{
                        @include between;
                        //@include jostBody1;
                        >ul{list-style: none;}
                        >ul li::before{
                            //@include jostBody1;
                            content:"\2022";
                            color:red;
                            font-weight: bold;
                            display: inline-block;
                            width: 1em;
                            //margin-left: 1em;
                            
                    }
                        >p{@include jostBody1;
                            font-weight:bold;}
                    }
                    
                }
            }
        .feedback-element{
            @include column;
            .feedback-element-head{
                @include sizeHead;
                @include row;
                align-items: center;
                i{
                    margin-right: 20px;
                }
                h1{
                    margin-right: 38px;
                   @include jostH3;
                }
                a{
                    @include intSort;
                }
                button{
                    @include btnStyle1;
                    position:absolute;
                    right: 16px;
                }
            }
            .feedback-element-item{
                position: relative;
                @include sizeItem;
                @include row;
                .btn-number{
                    @include intNumber;
                    @include jostBody3;
                    
                }
                .feedback-element-item-text{
                    >h1{
                        @include jostH3;
                    } 
                    >p{
                        @include jostBody1;
                    }
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;                
                    a{
                    @include intDesign;
                    margin-bottom: 0px !important;  
                    
                    }
                }
                i{
                    //@include jostBody1;
                    color:red;
                    background-color: black;
                    position: absolute;
                    right: 32px;
                    top:64px;
                }
            }
            }    
        
    }
}