@import "buttons";
@import "colors";
@import "commons";
@import "components";
@import "forms";
@import "general";
@import "interactive";
@import "typography";
@import "variables";
.page{
    @include sizePage;
.feedback{
    @include between;
        .feedback-item{
            @include   column;
                .feedback-item-type{
                    @include sizeType;
                    .feedback-item-type-head{
                        @include jostH2;
                    }
                    .feedback-item-type-text{
                        @include jostBody2;
                    }
                }
                .feedback-item-design{
                    @include sizeDesign;
                    a{
                        @include intDesign;
                        @include jostBody3;
                    }
                }
                .feedback-item-info{
                    @include sizeInfo;
                    @include column;
                    justify-content: space-between;
                    .feedback-item-info-head{
                        @include between;
                        >h3{@include jostH3}
                        >p{@include jostBody3}
                        }
                    .feedback-item-info-item{
                        @include between;
                        @include jostBody1;
                        
                       .feedback-item-info-item-planned{
                           @include between;
                           align-items: center;
                           >i{
                               margin-right: 16px;
                               color: #f49f85;
                           }
                       }
                       .feedback-item-info-item-progress{
                           @include between;
                           align-items: center;
                           >i{
                               margin-right: 16px;
                               color: $purple;
                           }
                       }
                         .feedback-item-info-item-live{
                           @include between;
                           align-items: center;
                           >i{
                               margin-right: 16px;
                               color: #62bcfa;
                           }
                       }
                        >p{@include jostBody1;
                            font-weight: bold;
                            color:#647196;
                            }
                         
                    }
                    
                }
            }
        .feedback-element{
            @include column;
            .feedback-element-head{
                @include sizeHead;
                @include row;
                align-items: center;
                i{
                    margin-right: 20px;
                }
                h1{
                    margin-right: 38px;
                   @include jostH3;
                }
                a{
                    @include intSort;
                }
                button{
                    @include btnStyle1;
                    position:absolute;
                    right: 16px;
                }
            }
            .feedback-element-item{
                position: relative;
                @include sizeItem;
                @include row;
                .btn-number{
                    @include intNumber;
                    @include jostBody3;
                    
                }
                .feedback-element-item-text{
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between; 
                 

                    >h1{
                        @include jostH3;
                    } 
                    >p{
                        @include jostBody1;
                    }
                                
                    a{
                    @include intDesign;
                    display: inline-block !important;
                    margin-bottom: 0px !important;  
                    
                    }
                }
                .feedback-element-item-text-comment{
                    @include jostBody1;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color:$gray;
                    position: absolute;
                    right: 32px;
                    top:64px;
                    >i{
                        margin-right: 10px;
                        color: #cdd2ee;
                    }
                }
            }
            }    
        
    }
}