$maincolor:#f2f2f2;
$white:white;
$designColor:#4661e6;
$designBR:#F2F4FF;
$designBrHover:#cfd7ff;
$numColor:#3a4374;
$numBR:#F2F4FE;
$headBR:#373F68;
$hColor:#3A4374;
$pColor:#647196;
$commentColor:#cdd2ee;
$carrot:#f49f85;
$purple:#AA1FE6;
$purpleHover:#c75af6;
$blue:#4661E6;
$bluelight:#62bcfa;

$gradient:radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);


$gray:#373F68;


