$purple:#ad1fea;
$blue:#4661e6;
$darkgray:#373F68;
$white:#FFFFFF;
$lightpurple:#F2F4FF;
$white2x:#F7F8FD;
$lightgray:#3A4374;
$gray:#647196;
$red:#d73737;
$lightred:#F49F85;
$lightblue:#60B8F5;
$gradient:radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
