@mixin h1 {
    font-family: Arial, Helvetica, sans-serif;
}
@mixin h2 {
    font-family: Arial, Helvetica, sans-serif;
      
}
@mixin h3 {
    font-family: Arial, Helvetica, sans-serif;
      
}
@mixin h4 {
    font-family: Arial, Helvetica, sans-serif;
      
}