* {
  margin: 0;
  padding: 0;
}

.demo-head {
  background-color: #C0DF19;
  color: #ffffff;
  font-size: large;
  padding: 10px;
  font-family: "Droid Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}

.demo-text-head {
  margin-top: 50px;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
}

.demo-text-info {
  margin-top: 10px;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
  font-size: 10px;
  color: #333;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-item {
  margin-top: 150px;
  margin-left: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F4FFB9;
  text-align: center;
  height: 250px;
  font-family: "Droid Sans", sans-serif;
}

.menu-item .menu-item-icon {
  margin-top: -80px;
  color: #C0DF19;
  border-radius: 50%;
  padding: 35px;
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu-item .menu-item-btn {
  text-decoration: none;
  color: white;
  padding: 15px 35px;
  background-color: #C0DF19;
  margin-top: 30px;
  border-radius: 50px;
}

.menu-item span {
  color: #4e4e4e;
}

.menu-item:hover .menu-item-icon {
  background-color: #C0DF19;
  color: white;
}

.menu-item:hover .menu-item-btn {
  text-decoration: none;
  color: white;
  padding: 15px 35px;
  background-color: #C0DF19;
  margin-top: 30px;
  border-radius: 50px;
}

.menu-item:hover .menu-item-btn:hover {
  background-color: #7f9210;
}
