.demo-head {
  background-color: #19D3CA;
  color: #ffffff;
  font-size: large;
  padding: 10px;
  font-family: "Droid Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}

.demo-text-head {
  margin-top: 50px;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
}

.demo-text-info {
  margin-top: 10px;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
  font-size: 10px;
  color: #333;
}

.menu {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Droid Sans", sans-serif;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-item {
  border-top: 1px solid #19D3CA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffffff;
  text-align: center;
  width: 300px;
  height: 380px;
  position: relative;
}

.menu-item .menu-item-no {
  position: absolute;
  top: -50px;
  right: 8px;
  font-size: 5rem;
  z-index: -1;
  -webkit-transition: 1s;
  transition: 1s;
  font-weight: bold;
  color: rgba(151, 151, 151, 0.877);
}

.menu-item .menu-item-ibox-icon {
  background-color: #19D3CA;
  padding: 40px;
  color: #ffffff;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border-radius: 10px;
}

.menu-item span {
  font-size: 14px;
}

.menu-item .menu-item-btn {
  text-decoration: none;
  color: white;
  padding: 15px 35px;
  background-color: #19D3CA;
  margin-top: 30px;
  border-radius: 50px;
}

.menu-item:hover .menu-item-ibox-icon {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.menu-item:hover .menu-item-no {
  top: -85px;
}

.menu-item-btn:hover {
  background-color: #0a8a83;
}
