:root {
    --orange: #FFA500;
    --white: #ffffff;
    --grey: rgb(78, 78, 78);

}

.txt-center {
    text-align: center;
}

.block {
    display: block;
    padding-bottom: 50px;
}

.txt-grey {
    color: var(--grey);
}

.demo-btn-style {
    margin-left: 10px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-araund;
    box-shadow: inset 0 0 0 0 var(--orange);
    transition-duration: 0.5s;

}

.icon-style {
    color: var(--orange);
    border: 3px solid var(--orange);
    border-radius: 50%;
    padding: 35px;
}

.demo-btn2-style {
    text-decoration: none;
    color: var(--white);
    padding: 15px 35px;
    background-color: var(--orange);
    margin-top: 30px;
}


.demo-btn-style:hover>.demo-btn2-style {
    color: var(--orange);
    background-color: var(--white);
}

.demo-btn-style:hover>.icon-style {
    color: var(--white);
    border: 3px solid var(--white);

}

.demo-btn-style:hover>.txt-grey,
.txt {
    color: var(--white);
}

.demo-btn-style:hover {
    box-shadow: inset 0 -390px 0 0 var(--orange);

}