body {
    margin: 0 auto;
}

.page {
    width: 1200px;
}

.page__contact {
    border: 1px solid black;
    height: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #0C5ADB;
}

.page__contact__real {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.page__contact__real__mail {
    border: 1px solid black;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.page__contact__real__adress {
    border: 1px solid black;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
}

.page__contact__real__tel {
    border: 1px solid black;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
}

.page__contact__social {
    border: 1px solid black;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.page__contact__social__facebook {
    border: 1px solid black;
    padding: 0 10px;
    display: flex;
}

.page__contact__social__twittwer {
    border: 1px solid black;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.page__contact__social__pinterest {
    border: 1px solid black;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.page__contact__social__linkedin {
    border: 1px solid black;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.nawbar {
    border: 1px solid black;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



nav ul li {
    display: inline;
}

.page__first {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60 0;
    background-image: url("image/doctor.jpg");
    margin: 0px 40px;

}

.page__first__text {
    border: 1px solid black;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

.page__first__button {
    border: 1px solid black;
    margin: 30px 0px;
}

.second {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
}

.second__in {
    border: 1px solid black;
    text-align: center;
    height: 45px;
    width: 90px;
}

.section3 {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
}