*{
    margin: 0;
    padding: 0;
}
// color
$mainColor:#2E4B9B;
$white: #ffffff;
$grey: rgb(78, 78, 78);
$balck: black;
$lightBlack:#333;
// font-text
$droidTxt: 'Droid Sans',sans-serif;
$muliTxt: 'Muli' ,sans-serif;
$centerTxt: center;
// size
$sizex: 10px;
$size2x: 20px;
$size3x: 30px;
$size5x: 50px;

    .demo-head {
        background-color: $mainColor;
        color: $white;
        font-size: large;
        padding: 10px;
        font-family: $droidTxt;
        font-weight: 700;
        text-align: $centerTxt;
    }
    .demo-text-head{
        margin-top:$size5x;
        text-align: $centerTxt;
        font-family: $droidTxt;
    }
    .demo-text-info{
        margin-top: $sizex;
        text-align: $centerTxt;
        font-family: $droidTxt;
        font-size: $sizex;
        color: $lightBlack;
    }
     .menu{
        margin-top: $size5x;
        display: flex;
        justify-content: space-evenly;
        padding: 0px 100px;
        font-family: $droidTxt;
    }
.menu-item{
    padding-top: 20px;
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: $size2x $sizex;
    
    .menu-item-icon{
        position: absolute;
        color:#8AA9FF;
        z-index: -1;
        right: 15px;
        top: 5px;     
        transition: 0.4s ease-in-out;
    }
    span{
        color: $grey;
    }
    .menu-item-btn{
        margin: 0 80px;
        text-decoration: none;
        padding: 15px ;        
        text-align: center;
        color: white;
        background-color:blue;
    }
}

.menu-item:hover {
    .menu-item-icon{
    transition: 0.4s ease-in-out;
    transform: translateX(-130px);
}
.menu-item-btn:hover{  
    background-color:#5571bd;
}
}
