@mixin int-number {
    width: 40px;
    height: 53px;
    background-color: $lightpurple;
    color: $lightgray;
}

@mixin int-number-hover {
    width: 40px;
    height: 53px;
    background-color: $lightblue;
    color: $lightgray;
}

@mixin int-number-active {
    width: 40px;
    height: 53px;
    background-color: $blue;
    color: $lightgray;
}

@mixin int-design {
    width: 48px;
    height: 30px;
    background-color: $lightpurple;
    color: $lightgray;
}

@mixin int-design-hover {
    width: 48px;
    height: 30px;
    background-color: $lightblue;
    color: $lightgray;
}

@mixin int-design-active {
    width: 48px;
    height: 30px;
    background-color: $blue;
    color: $white;
}

@mixin int-sort {
    width: 194px;
    height: 72px;
    background-color: $darkgray;
    color: $lightpurple;
}

