* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 63.5%;
}
body {
  font-size: 1.6rem;
}
a {
  cursor: pointer;
}
section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page {
  position: relative;
  box-shadow: 0 0 1rem 0.01rem grey;
  background-color: rgba(255, 255, 255, 0.322);
  border-radius: 0.5rem;
  width: 33rem;
  height: 50rem;
  padding: 3rem;
}
.page-circleBlue {
  position: absolute;
  border-radius: 50%;
  background-color: #606fc2;
  width: 15rem;
  height: 15rem;
  top: -7rem;
  left: -7rem;
  z-index: -1;
}
.page-circleRed {
  position: absolute;
  border-radius: 50%;
  background-color: #ee676c;
  width: 15rem;
  height: 15rem;
  bottom: -7rem;
  right: -7rem;
  z-index: -1;
}

.page-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33rem;
  height: 50rem;
  /* padding: 3rem; */
}
.page-card h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}
.page-card-infologin {
  position: relative;
  display: flex;
  flex-direction: column;
}
.page-card-infologin label {
  margin-bottom: 1rem;
  font-weight: bold;
}
.page-card-infologin input {
  margin-bottom: 2rem;
  height: 4rem;
  padding: 0 1rem;
  border: 0.1rem solid grey;
  border-radius: 0.3rem;
}
.page-card-infologin input:focus {
  outline: none;
  border: 0.1rem solid blue;
  border-radius: 0.3rem;
}
.fa-eye-slash,
.fa-eye {
  position: absolute;
  bottom: 2.9rem;
  right: 1.1rem;
  color: gray;
  font-size: 2.3rem;
  display: none;
}
.fa-check {
  position: absolute;
  top: 5.8rem;
  right: 1.1rem;
  color: #34b93d;
  font-size: 2.3rem;
  transition: 1s;
  opacity: 0;
}
.page-card-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.page-card-check-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.page-card-check-item i {
  position: absolute;
  top: -0.3rem;
  left: 0.6rem;
}
.page-card-check-item label {
  cursor: pointer;
}

.page-card-check-item-box {
  position: relative;
  width: 2rem;
  height: 2rem;
  border: 0.3rem gray solid;
  border-radius: 0.5rem;
  margin-right: 0.7rem;
}
/* burada chech */
.checkControl {
  display: none;
}
.animated-check {
  position: absolute;
  top: -0.8rem;
  left: 0.2rem;
  height: 3rem;
  width: 3rem;
}

.animated-check path {
  fill: none;
  stroke: #34b93d;
  stroke-width: 4;
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
  animation: draw 0.4s linear forwards;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.agsvg {
  position: absolute;
  top: -0.8rem;
  left: 0.2rem;
  height: 3rem;
  width: 3rem;
}
.agsvg path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 8;
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
  animation: drawag 0.4s linear forwards;
  stroke-linecap: round;
  stroke-linejoin: round;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes drawag {
  to {
    stroke-dashoffset: 0;
  }
}

.page-card-check label {
  color: gray;
  font-weight: bold;
}

.page-card-check a {
  color: #ec793b;
  font-weight: bold;
}

.page-card-btnLogin {
  text-decoration: none;
  text-align: center;
  background-color: #68c1b8;
  border-radius: 0.5rem;
  padding: 1.5rem 0;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.page-card-btnLogin:hover {
  background-color: #009a8b;
}
.page-card-social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.page-card-btnGoogle {
  text-decoration: none;
  text-align: center;
  background-color: #4285f4;
  border-radius: 0.5rem;
  padding: 1.5rem 4rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.page-card-btnFacebook {
  text-decoration: none;
  text-align: center;
  background-color: #3b5998;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.page-card-signUp {
  color: #ec793b;
  font-weight: bold;
}
/* diger sehifelerin yox olmasi klaslari buradadir */
.loginPage {
  display: flex;
  --animate-delay: 0.5s;
}
.forgotPage {
  display: none;
  --animate-delay: 0.5s;
}
.signUpPage {
  display: none;
  --animate-delay: 0.5s;
}

/* js funlsionalliq olan klaslar buradadir */
.titretme1 {
  animation: shake1 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.titretme2 {
  animation: shake2 0.81s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake1 {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake2 {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
